/* You can add global styles to this file, and also import other style files */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 236, 229); 
    width: 30%;

}